@import "tailwindcss";
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-link {
    @apply flex items-center gap-3 px-4 py-3 text-gray-300 hover:bg-blue-800 hover:text-white rounded-lg transition mx-3;
  }
  .sidebar-link.active {
    @apply bg-blue-700 text-white;
  }
}